[submodule "cgtheory"]
	path = cgtheory
	url = git@github.com:bbiiggppiigg/cgtheory.git
[submodule "basicml"]
	path = basicml
	url = git@github.com:bbiiggppiigg/basicml.git
[submodule "rts"]
	path = rts
	url = git@github.com:bbiiggppiigg/rts.git
